@import"http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic";@import"http://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,500,500italic";@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),url(../fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),url(../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype')
}

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.zmdi-mail-send:before {
    content: '\f194'
}

.zmdi-close:before {
    content: '\f136'
}
